<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.softlang.megal.examples.EFactory1"
            uri="org.softlang.megal.examples.factory1">
      </factory>
   </extension>

</plugin>
