<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PP -->
      <package
            uri="http://www.softlang.org/megal/PP"
            class="org.softlang.megal.pp.PPPackage"
            genModel="src/PP.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.softlang.megal.pp.jar.JarPPResourceFactory"
            type="jar">
      </parser>
   </extension>
   <extension
         point="org.eclipse.xtext.extension_resourceServiceProvider">
      <resourceServiceProvider
            class="org.softlang.megal.pp.jar.JarResourceServiceProvider"
            uriExtension="jar">
      </resourceServiceProvider>
   </extension>

</plugin>
