<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.softlang.relationtype" name="relationtype" schema="schema/org.softlang.relationtype.exsd"/>
   <extension-point id="org.softlang.entitytype" name="entitytype" schema="schema/org.softlang.entitytype.exsd"/>
   <extension
         id="entitysemantics"
         point="org.softlang.entitytype">
      <entitytype
            name="Entity"
            semantics="org.softlang.megal.semantics.impl.EntitySemanticsImpl">
      </entitytype>
      <entitytype
            name="Set"
            semantics="org.softlang.megal.semantics.impl.SetSemanticsImpl">
      </entitytype>
      <entitytype
            name="Artifact"
            semantics="org.softlang.megal.semantics.impl.ArtifactsSemanticsImpl">
      </entitytype>
   </extension>
   <extension
         point="org.softlang.relationtype">
      <relationtype
            name="conformsTo"
            source="Artifact"
            target="Artifact">
      </relationtype>
      <relationtype
            name="elementOf"
            source="Entity"
            target="Set">
      </relationtype>
      <relationtype
            name="subsetOf"
            source="Set"
            target="Set">
      </relationtype>
      <relationtype
            name="partOf"
            source="Artifact"
            target="Artifact">
      </relationtype>
      <relationtype
            name="instanceOf"
            source="Concept"
            target="Concept">
      </relationtype>
      <relationtype
            name="isA"
            source="Concept"
            target="Concept">
      </relationtype>
      <relationtype
            name="definitionOf"
            source="Artifact"
            target="Language">
      </relationtype>
      <relationtype
            name="elementOf"
            source="File"
            target="Language">
      </relationtype>
      <relationtype
            name="dependsOn"
            source="Technology"
            target="Language">
      </relationtype>
   </extension>

</plugin>
