<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="FragmentProvider" name="FragmentProvider" schema="schema/FragmentProvider.exsd"/>
   <extension-point id="RootProvider" name="RootProvider" schema="schema/RootProvider.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Megal -->
      <package
            uri="http://softlang.wikidot.com/megal"
            class="org.softlang.megal.MegalPackage"
            genModel="model/Megal.genmodel"/>
   </extension>

</plugin>
