<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.softlang.megal.explorer.ExplorerView"
            id="org.softlang.megal.explorer.view"
            name="Megal Explorer"
            restorable="true">
      </view>
   </extension>

</plugin>
